{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
    <h3 class="title">
        Welcome, {{ current_user.name }} !
    </h3>
    <br>
</div>
<div class="container border">
    <br>
    <form action="/profile" method="POST">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    <label for="name">Name:</label>
                </div>
                <div class="col-9">
                    <input type="text" class="form-control" id="name" name="name" value="{{ current_user.name }}"
                        required>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <label for="email">E-mail:</label>
                </div>
                <div class="col-9">
                    <input type="text" class="form-control" id="email" name="email" value="{{ current_user.email }}"
                        required>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <label for="password">Password:</label>
                </div>
                <div class="col-9">
                    <input type="password" class="form-control" id="password" name="password">
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <label for="repass">Re-type Password:</label>
                </div>
                <div class="col-9">
                    <input type="password" class="form-control" id="repass" name="repass">
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <label for="theme">Theme:</label>
                </div>
                <div class="col-9">
                    <select name="theme" id="theme" class="form-control">
                        <option value="light" {% if current_user.theme == 'light' %}selected{% endif %}>Light</option>
                        <option value="dark" {% if current_user.theme == 'dark' %}selected{% endif %}>Dark</option>
                    </select>
                </div>
            </div>            
            <div class="row">
                <div class="col-3">
                    <label for="mzuser">MZ Username:</label>
                </div>
                <div class="col-9">
                    <input type="text" class="form-control" id="mzuser" name="mzuser" value="{{ current_user.mzuser }}"
                        required>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <label for="mzpass">MZ Password:</label>
                </div>
                <div class="col-9">
                    <input type="password" class="form-control" id="mzpass" name="mzpass" value="{{ current_user.mzpass }}"
                        required>
                </div>
            </div>
        </div>
        <br>
        <button class="btn btn-outline-primary">Save</button>
    </form>
    <br>
</div>
{% endblock %}