{% block content %}
<div id="players_container" class="players_transfer_container" style="min-height: 560px;">
    <div id="thePlayers_0" class="playerContainer">
        <h4 class="subheader clearfix">
            <div title="Rik Aalders (224539179)">
                <img src="nocache-950/img/flags/15/nl.png" alt="" title="" width="15" height="15"
                    style="vertical-align: middle">

                <a href="/?p=players&amp;pid=224539179" class="subheader nobr">
                    <span class="player_name">Rik Aalders</span>
                </a>
                <span class="player_id_span">224539179</span>                
            </div>
        </h4>
        <div class="mainContent" style="padding: 5px">
            <a name="p224539179"></a>
            <div class="clearfix">
                <div class="floatLeft" style="width: 300px">
                    <table cellpadding="0" cellspacing="0" width="100%" border="0">
                        <tbody>
                            <tr>
                                <td style="padding: 3px 3px 3px 3px;">
                                    <table cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td>Age:</td>
                                                <td><strong>27</strong></td>
                                            </tr>
                                            <tr>
                                                <td>Born:</td>
                                                <td><strong>Season 70</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Weight:</td>
                                                <td><strong>103 kg</strong></td>
                                            </tr>
                                            <tr>
                                                <td>Height:</td>
                                                <td><strong>195 cm</strong></td>
                                            </tr>
                                            <tr>
                                                <td>Foot:</td>
                                                <td><strong>Right</strong></td>
                                            </tr>
                                            <tr>
                                                <td title="All skills combined except Form and Experience">
                                                    Total
                                                    Skill Balls:</td>
                                                <td valign="top">
                                                    <strong>64</strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr style="height: 25px;"></tr>
                            <tr>
                                <td colspan="2">
                                    <table class="player_skills player_skills_transfer">
                                        <tbody>
                                            <tr>
                                                <td><span class="skill_name"><span>Speed</span></span></td>
                                                <td>
                                                    <div id="container"><img src="nocache-950/img/soccer/wlevel_8.gif"
                                                            alt="Speed: 8" width="126" height="10" class="skill"
                                                            style="display: none;">
                                                        <div class="skill" style="font-size:0;padding: 0 0 0 4px;">
                                                            <img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs=">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="skillval">(<span class="maxed">8</span>)</td>
                                            </tr>
                                            <tr>
                                                <td class="gm_scout_h gm_s3"><span
                                                        class="skill_name"><span>Stamina</span></span></td>
                                                <td>
                                                    <div id="container"><img src="nocache-950/img/soccer/wlevel_9.gif"
                                                            alt="Stamina: 9" width="126" height="10" class="skill"
                                                            style="display: none;">
                                                        <div class="skill" style="font-size:0;padding: 0 0 0 4px;">
                                                            <img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs=">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="skillval">(<span class="maxed">9</span>)</td>
                                            </tr>
                                            <tr>
                                                <td><span class="skill_name"><span>Intelligence</span></span>
                                                </td>
                                                <td>
                                                    <div id="container"><img src="nocache-950/img/soccer/wlevel_6.gif"
                                                            alt="Play Intelligence: 6" width="126" height="10"
                                                            class="skill" style="display: none;">
                                                        <div class="skill" style="font-size:0;padding: 0 0 0 4px;">
                                                            <img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP///8zM/wAA/////yH5BAEAAAMALAAAAAAMAAoAAAIk3CIpYZ0BABJtxvjMgojTIVwKpl0dCQbQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP///8zM/wAA/////yH5BAEAAAMALAAAAAAMAAoAAAIk3CIpYZ0BABJtxvjMgojTIVwKpl0dCQbQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP///8zM/wAA/////yH5BAEAAAMALAAAAAAMAAoAAAIk3CIpYZ0BABJtxvjMgojTIVwKpl0dCQbQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP///8zM/wAA/////yH5BAEAAAMALAAAAAAMAAoAAAIk3CIpYZ0BABJtxvjMgojTIVwKpl0dCQbQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP///8zM/wAA/////yH5BAEAAAMALAAAAAAMAAoAAAIk3CIpYZ0BABJtxvjMgojTIVwKpl0dCQbQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP///8zM/wAA/////yH5BAEAAAMALAAAAAAMAAoAAAIk3CIpYZ0BABJtxvjMgojTIVwKpl0dCQbQJX3T+jpLNDXGlDUFADs=">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="skillval">(<span>6</span>)</td>
                                            </tr>
                                            <tr>
                                                <td><span class="skill_name"><span>Passing</span></span>
                                                </td>
                                                <td>
                                                    <div id="container"><img src="nocache-950/img/soccer/wlevel_8.gif"
                                                            alt="Passing: 8" width="126" height="10" class="skill"
                                                            style="display: none;">
                                                        <div class="skill" style="font-size:0;padding: 0 0 0 4px;">
                                                            <img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs=">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="skillval">(<span class="maxed">8</span>)</td>
                                            </tr>
                                            <tr>
                                                <td><span class="skill_name"><span>Shooting</span></span>
                                                </td>
                                                <td>
                                                    <div id="container"><img src="nocache-950/img/soccer/wlevel_8.gif"
                                                            alt="Shooting: 8" width="126" height="10" class="skill"
                                                            style="display: none;">
                                                        <div class="skill" style="font-size:0;padding: 0 0 0 4px;">
                                                            <img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs=">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="skillval">(<span class="maxed">8</span>)</td>
                                            </tr>
                                            <tr>
                                                <td class="gm_scout_h gm_s3"><span
                                                        class="skill_name"><span>Heading</span></span></td>
                                                <td>
                                                    <div id="container"><img src="nocache-950/img/soccer/wlevel_3.gif"
                                                            alt="Heading: 3" width="126" height="10" class="skill"
                                                            style="display: none;">
                                                        <div class="skill" style="font-size:0;padding: 0 0 0 4px;">
                                                            <img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP///8zM/wAA/////yH5BAEAAAMALAAAAAAMAAoAAAIk3CIpYZ0BABJtxvjMgojTIVwKpl0dCQbQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP///8zM/wAA/////yH5BAEAAAMALAAAAAAMAAoAAAIk3CIpYZ0BABJtxvjMgojTIVwKpl0dCQbQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP///8zM/wAA/////yH5BAEAAAMALAAAAAAMAAoAAAIk3CIpYZ0BABJtxvjMgojTIVwKpl0dCQbQJX3T+jpLNDXGlDUFADs=">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="skillval">(<span>3</span>)</td>
                                            </tr>
                                            <tr>
                                                <td><span class="skill_name"><span>Keeping</span></span>
                                                </td>
                                                <td>
                                                    <div id="container"><img src="nocache-950/img/soccer/wlevel_0.gif"
                                                            alt="Keeping: 0" width="126" height="10" class="skill"
                                                            style="display: none;">
                                                        <div class="skill" style="font-size:0;padding: 0 0 0 4px;">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="skillval">(<span>0</span>)</td>
                                            </tr>
                                            <tr>
                                                <td><span class="skill_name"><span>Ball
                                                            Control</span></span></td>
                                                <td>
                                                    <div id="container"><img src="nocache-950/img/soccer/wlevel_7.gif"
                                                            alt="Ball Control: 7" width="126" height="10" class="skill"
                                                            style="display: none;">
                                                        <div class="skill" style="font-size:0;padding: 0 0 0 4px;">
                                                            <img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs=">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="skillval">(<span class="maxed">7</span>)</td>
                                            </tr>
                                            <tr>
                                                <td class="gm_s2"><span class="skill_name"><span>Tackling</span></span></td>
                                                <td>
                                                    <div id="container"><img src="nocache-950/img/soccer/wlevel_7.gif"
                                                            alt="Tackling: 7" width="126" height="10" class="skill"
                                                            style="display: none;">
                                                        <div class="skill" style="font-size:0;padding: 0 0 0 4px;">
                                                            <img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP////8AAMyZmf///yH5BAEAAAMALAAAAAAMAAoAAAIk3BQZYp0CAAptxvjMgojTEVwKpl0dCQrQJX3T+jpLNDXGlDUFADs=">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="skillval">(<span class="maxed">7</span>)</td>
                                            </tr>
                                            <tr>
                                                <td><span class="skill_name"><span>Aerial
                                                            Passing</span></span></td>
                                                <td>
                                                    <div id="container"><img src="nocache-950/img/soccer/wlevel_6.gif"
                                                            alt="Aerial Passing: 6" width="126" height="10"
                                                            class="skill" style="display: none;">
                                                        <div class="skill" style="font-size:0;padding: 0 0 0 4px;">
                                                            <img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP///8zM/wAA/////yH5BAEAAAMALAAAAAAMAAoAAAIk3CIpYZ0BABJtxvjMgojTIVwKpl0dCQbQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP///8zM/wAA/////yH5BAEAAAMALAAAAAAMAAoAAAIk3CIpYZ0BABJtxvjMgojTIVwKpl0dCQbQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP///8zM/wAA/////yH5BAEAAAMALAAAAAAMAAoAAAIk3CIpYZ0BABJtxvjMgojTIVwKpl0dCQbQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP///8zM/wAA/////yH5BAEAAAMALAAAAAAMAAoAAAIk3CIpYZ0BABJtxvjMgojTIVwKpl0dCQbQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP///8zM/wAA/////yH5BAEAAAMALAAAAAAMAAoAAAIk3CIpYZ0BABJtxvjMgojTIVwKpl0dCQbQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP///8zM/wAA/////yH5BAEAAAMALAAAAAAMAAoAAAIk3CIpYZ0BABJtxvjMgojTIVwKpl0dCQbQJX3T+jpLNDXGlDUFADs=">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="skillval">(<span>6</span>)</td>
                                            </tr>
                                            <tr>
                                                <td class="gm_s2"><span class="skill_name"><span>Set
                                                            Plays</span></span>
                                                </td>
                                                <td>
                                                    <div id="container"><img src="nocache-950/img/soccer/wlevel_2.gif"
                                                            alt="Set Plays: 2" width="126" height="10" class="skill"
                                                            style="display: none;">
                                                        <div class="skill" style="font-size:0;padding: 0 0 0 4px;">
                                                            <img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP///8zM/wAA/////yH5BAEAAAMALAAAAAAMAAoAAAIk3CIpYZ0BABJtxvjMgojTIVwKpl0dCQbQJX3T+jpLNDXGlDUFADs="><img
                                                                src="data:image/gif;base64,R0lGODlhDAAKAJEDAP///8zM/wAA/////yH5BAEAAAMALAAAAAAMAAoAAAIk3CIpYZ0BABJtxvjMgojTIVwKpl0dCQbQJX3T+jpLNDXGlDUFADs=">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="skillval">(<span>2</span>)</td>
                                            </tr>
                                            <tr>
                                                <td><span class="skill_name"><span>Experience</span></span>
                                                </td>
                                                <td>
                                                    <div id="container"><img src="nocache-950/img/soccer/wlevel_9.gif"
                                                            alt="Experience: 9" width="126" height="10" class="skill">
                                                    </div>
                                                </td>
                                                <td class="skillval">(<span>9</span>)</td>
                                            </tr>
                                            <tr>
                                                <td><span class="skill_name"><span>Form</span></span></td>
                                                <td>
                                                    <div id="container"><img src="nocache-950/img/soccer/wlevel_9.gif"
                                                            alt="Form: 9" width="126" height="10" class="skill"></div>
                                                </td>
                                                <td class="skillval">(<span>9</span>)</td>
                                            </tr>
                                            <tr class="scout_report_row box_dark">
                                                <td colspan="3">
                                                    <div class="textCenter">
                                                        <div class="scout_report_stars">
                                                            <div class="high-stars"><i
                                                                    class="fa-solid fa-star scout_report_star"></i><i
                                                                    class="fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star"></i><i
                                                                    class="fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star"></i>
                                                            </div>
                                                            <div class="scout_report_name">
                                                                <span>High</span><span class="sup">1</span>
                                                            </div>
                                                        </div>
                                                        <div class="scout_report_stars">
                                                            <div class="low-stars"><i
                                                                    class="fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star"></i><i
                                                                    class="fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star"></i>
                                                            </div>
                                                            <div class="scout_report_name">
                                                                <span>Low</span><span class="sup">2</span>
                                                            </div>
                                                        </div>
                                                        <div class="scout_report_stars">
                                                            <div><i
                                                                    class="fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star"></i><i
                                                                    class="fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star"></i><i
                                                                    class="fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star"></i><i
                                                                    class="fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star fa-solid fa-star scout_report_star"></i>
                                                            </div>
                                                            <div class="scout_report_name"><span>Tr.
                                                                    speed</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="floatRight transfer-control-area">
                    <div style="margin-top: 3px">
                        <div class="box_dark" style="height: 6em; padding: 3px 6px">
                            <table width="100%" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td colspan="2" valign="top">
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td>Value:</td>
                                                        <td>
                                                            <span class="bold" title="3&nbsp;571&nbsp;864 R$">
                                                                3&nbsp;571&nbsp;864 R$ </span>
                                                        </td>
                                                        <td>
                                                            Salary:
                                                            <span class="bold" title="44&nbsp;572 R$">
                                                                44&nbsp;572 R$ </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Club</td>
                                        <td>
                                            <strong style="max-width: 125px" class="clippable">
                                                <a href="/?p=team&amp;tid=187338">KVC Budel</a>
                                            </strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Deadline</td>
                                        <td><strong>16/02/2026 10:09am</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Asking Price</td>
                                        <td title="650&nbsp;000 EUR">
                                            <strong>2&nbsp;271&nbsp;754 R$</strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="box_dark" style="margin-top: 6px; min-height: 1em; padding: 3px 6px">
                            <table width="100%" cellspacing="0" cellpadding="0" height="100%">
                                <tbody>
                                    <tr>
                                        <td align="left" valign="top">
                                            <table width="100%" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td width="80" class="clippable">Latest Bid:</td>
                                                        <td title="0 EUR">
                                                            <strong>
                                                                0 R$ </strong>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="box_dark" style="margin-top: 6px; height: 150px; padding: 3px">
                            <table width="100%" height="100%">
                                <tbody>
                                    <tr>
                                        <td valign="top" style="height: 15px;">Bid history:</td>
                                    </tr>
                                    <tr>
                                        <td valign="top">
                                            <div style="height: 70px; overflow: auto">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height: 15px">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}