{% extends "base.html" %} {% block content %}
<div class="table-responsive-sm">
  <div class="col-12">
    <table class="table" cellspacing="10" cellpadding="0" align="center">
      {% counter = 1 %}
      <tbody>
        {% for transfer in transfers %} {% if counter == 1 %}
        <tr>
          {% endif %}
          <td class="col-3">
            <div class="transfer" border="3" {% if transfer[1].retiring == 1 %}
            style="background-image:url(/static/images/player_bg3.gif)" {% else
            %} style="background-image:url(/static/images/player_bg2.gif)" {%
            endif %}>
            <div class="p_header" style="border: 1px solid blue">
              <div class="col-12">
                <table>
                  <tr>
                    <td class="col-1" align="left">
                      <img
                        title="{{ transfer[2].name }}"
                        src="data:image/gif;base64,{{ transfer[2].flag }}"
                        width="18"
                        height="12"
                        border="0"
                      />
                    </td>
                    <td class="col-10" align="center">
                      <a
                        href="https://www.managerzone.com/?p=transfer&sub=players&u={{ transfer[1].id }}"
                        ><font color="blue">{{ transfer[1].name }}</font></a
                      >
                    </td>
                    <td class="col-1" align="right">
                      <font color="#000000"
                        >({{ transfer[1].transferage }})</font
                      >
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="p_main" style="border: 1px solid blue">
              <div class="col-12">
                <table>
                  <tr>
                    <td class="col-1" align="left">
                      <font
                        color="#{% if transfer[1].speedscout == 4 %}ff33cc{% elif transfer[1].speedscout == 3 %}009933{% elif transfer[1].speedscout == 2 and transfer[1].starhigh == 2 %}ffcc00{% elif transfer[1].speedscout == 2 %}cccc00{% elif transfer[1].speedscout == 1 %}ff0000{% else %}000000{% endif %}"
                        >Speed</font
                      >
                    </td>
                    <td class="col-1"></td>
                    <td class="col-9" align="left">
                      <img
                        src="/static/images/ball{{ transfer[1].speed }}{% if transfer[1].speedmax == 0 %}o{% elif transfer[1].speedmax == 1 %}m{% endif %}.gif"
                      />
                    </td>
                    <td class="col-1" align="right">
                      <font color="#000000">({{ transfer[1].speed }})</font>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-1" align="left">
                      <font
                        color="#{% if transfer[1].staminascout == 4 %}ff33cc{% elif transfer[1].staminascout == 3 %}009933{% elif transfer[1].staminascout == 2 and transfer[1].starhigh == 2 %}ffcc00{% elif transfer[1].staminascout == 2 %}cccc00{% elif transfer[1].staminascout == 1 %}ff0000{% else %}000000{% endif %}"
                        >Stamina</font
                      >
                    </td>
                    <td class="col-1"></td>
                    <td class="col-9" align="left">
                      <img
                        src="/static/images/ball{{ transfer[1].stamina }}{% if transfer[1].staminamax == 0 %}o{% elif transfer[1].staminamax == 1 %}m{% endif %}.gif"
                      />
                    </td>
                    <td class="col-1" align="right">
                      <font color="#000000">({{ transfer[1].stamina }})</font>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-1" align="left">
                      <font
                        color="#{% if transfer[1].intelligencescout == 4 %}ff33cc{% elif transfer[1].intelligencescout == 3 %}009933{% elif transfer[1].intelligencescout == 2 and transfer[1].starhigh == 2 %}ffcc00{% elif transfer[1].intelligencescout == 2 %}cccc00{% elif transfer[1].intelligencescout == 1 %}ff0000{% else %}000000{% endif %}"
                        >Intelligence</font
                      >
                    </td>
                    <td class="col-1"></td>
                    <td class="col-9" align="left">
                      <img
                        src="/static/images/ball{{ transfer[1].intelligence }}{% if transfer[1].intelligencemax == 0 %}o{% elif transfer[1].intelligencemax == 1 %}m{% endif %}.gif"
                      />
                    </td>
                    <td class="col-1" align="right">
                      <font color="#000000"
                        >({{ transfer[1].intelligence }})</font
                      >
                    </td>
                  </tr>
                  <tr>
                    <td class="col-1" align="left">
                      <font
                        color="#{% if transfer[1].passingscout == 4 %}ff33cc{% elif transfer[1].passingscout == 3 %}009933{% elif transfer[1].passingscout == 2 and transfer[1].starhigh == 2 %}ffcc00{% elif transfer[1].passingscout == 2 %}cccc00{% elif transfer[1].passingscout == 1 %}ff0000{% else %}000000{% endif %}"
                        >Passing</font
                      >
                    </td>
                    <td class="col-1"></td>
                    <td class="col-9" align="left">
                      <img
                        src="/static/images/ball{{ transfer[1].passing }}{% if transfer[1].passingmax == 0 %}o{% elif transfer[1].passingmax == 1 %}m{% endif %}.gif"
                      />
                    </td>
                    <td class="col-1" align="right">
                      <font color="#000000">({{ transfer[1].passing }})</font>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-1" align="left">
                      <font
                        color="#{% if transfer[1].headingscout == 4 %}ff33cc{% elif transfer[1].headingscout == 3 %}009933{% elif transfer[1].headingscout == 2 and transfer[1].starhigh == 2 %}ffcc00{% elif transfer[1].headingscout == 2 %}cccc00{% elif transfer[1].headingscout == 1 %}ff0000{% else %}000000{% endif %}"
                        >Heading</font
                      >
                    </td>
                    <td class="col-1"></td>
                    <td class="col-9" align="left">
                      <img
                        src="/static/images/ball{{ transfer[1].heading }}{% if transfer[1].headingmax == 0 %}o{% elif transfer[1].headingmax == 1 %}m{% endif %}.gif"
                      />
                    </td>
                    <td class="col-1" align="right">
                      <font color="#000000">({{ transfer[1].heading }})</font>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-1" align="left">
                      <font
                        color="#{% if transfer[1].keepingscout == 4 %}ff33cc{% elif transfer[1].keepingscout == 3 %}009933{% elif transfer[1].keepingscout == 2 and transfer[1].starhigh == 2 %}ffcc00{% elif transfer[1].keepingscout == 2 %}cccc00{% elif transfer[1].keepingscout == 1 %}ff0000{% else %}000000{% endif %}"
                        >Keeping</font
                      >
                    </td>
                    <td class="col-1"></td>
                    <td class="col-9" align="left">
                      <img
                        src="/static/images/ball{{ transfer[1].keeping }}{% if transfer[1].keepingmax == 0 %}o{% elif transfer[1].keepingmax == 1 %}m{% endif %}.gif"
                      />
                    </td>
                    <td class="col-1" align="right">
                      <font color="#000000">({{ transfer[1].keeping }})</font>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-1" align="left">
                      <font
                        color="#{% if transfer[1].controlscout == 4 %}ff33cc{% elif transfer[1].controlscout == 3 %}009933{% elif transfer[1].controlscout == 2 and transfer[1].starhigh == 2 %}ffcc00{% elif transfer[1].controlscout == 2 %}cccc00{% elif transfer[1].controlscout == 1 %}ff0000{% else %}000000{% endif %}"
                        >Control</font
                      >
                    </td>
                    <td class="col-1"></td>
                    <td class="col-9" align="left">
                      <img
                        src="/static/images/ball{{ transfer[1].control }}{% if transfer[1].controlmax == 0 %}o{% elif transfer[1].controlmax == 1 %}m{% endif %}.gif"
                      />
                    </td>
                    <td class="col-1" align="right">
                      <font color="#000000">({{ transfer[1].control }})</font>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-1" align="left">
                      <font
                        color="#{% if transfer[1].tacklingscout == 4 %}ff33cc{% elif transfer[1].tacklingscout == 3 %}009933{% elif transfer[1].tacklingscout == 2 and transfer[1].starhigh == 2 %}ffcc00{% elif transfer[1].tacklingscout == 2 %}cccc00{% elif transfer[1].tacklingscout == 1 %}ff0000{% else %}000000{% endif %}"
                        >Tackling</font
                      >
                    </td>
                    <td class="col-1"></td>
                    <td class="col-9" align="left">
                      <img
                        src="/static/images/ball{{ transfer[1].tackling }}{% if transfer[1].tacklingmax == 0 %}o{% elif transfer[1].tacklingmax == 1 %}m{% endif %}.gif"
                      />
                    </td>
                    <td class="col-1" align="right">
                      <font color="#000000">({{ transfer[1].tackling }})</font>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-1" align="left">
                      <font
                        color="#{% if transfer[1].aerialscout == 4 %}ff33cc{% elif transfer[1].aerialscout == 3 %}009933{% elif transfer[1].aerialscout == 2 and transfer[1].starhigh == 2 %}ffcc00{% elif transfer[1].aerialscout == 2 %}cccc00{% elif transfer[1].aerialscout == 1 %}ff0000{% else %}000000{% endif %}"
                        >Aerial</font
                      >
                    </td>
                    <td class="col-1"></td>
                    <td class="col-9" align="left">
                      <img
                        src="/static/images/ball{{ transfer[1].aerial }}{% if transfer[1].aerialmax == 0 %}o{% elif transfer[1].aerialmax == 1 %}m{% endif %}.gif"
                      />
                    </td>
                    <td class="col-1" align="right">
                      <font color="#000000">({{ transfer[1].aerial }})</font>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-1" align="left">
                      <font
                        color="#{% if transfer[1].playsscout == 4 %}ff33cc{% elif transfer[1].playsscout == 3 %}009933{% elif transfer[1].playsscout == 2 and transfer[1].starhigh == 2 %}ffcc00{% elif transfer[1].playsscout == 2 %}cccc00{% elif transfer[1].playsscout == 1 %}ff0000{% else %}000000{% endif %}"
                        >Plays</font
                      >
                    </td>
                    <td class="col-1"></td>
                    <td class="col-9" align="left">
                      <img
                        src="/static/images/ball{{ transfer[1].plays }}{% if transfer[1].playsmax == 0 %}o{% elif transfer[1].playsmax == 1 %}m{% endif %}.gif"
                      />
                    </td>
                    <td class="col-1" align="right">
                      <font color="#000000">({{ transfer[1].plays }})</font>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-1" align="left">
                      <font color="#000000">Experience</font>
                    </td>
                    <td class="col-1"></td>
                    <td class="col-9" align="left">
                      <img
                        src="/static/images/ball{{ transfer[1].experience }}.gif"
                      />
                    </td>
                    <td class="col-1" align="right">
                      <font color="#000000"
                        >({{ transfer[1].experience }})</font
                      >
                    </td>
                  </tr>
                  <tr>
                    <td class="col-1" align="left">
                      <font color="#000000">Form</font>
                    </td>
                    <td class="col-1"></td>
                    <td class="col-9" align="left">
                      <img
                        src="/static/images/ball{{ transfer[1].form }}.gif"
                      />
                    </td>
                    <td class="col-1" align="right">
                      <font color="#000000">({{ transfer[1].form }})</font>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="p_footer" style="border: 1px solid blue">
              <a>Footer</a>
            </div>
          </td>
          {% if counter == 1 %}
        </tr>
        {% elif counter == 5 %} {% counter = 1 %} {% else %} {% counter += 1 %}
        {% endif %} {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
